<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>分帳設定表單</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script>  
        var countMin = 1;  
        var countMax = 10; 
        var commonName = "T";
        var commonsplit = "splitter";
        var count = countMin;  
        function addField() {  
            if(count == countMax)  
                alert("最多"+countMax+"個欄位");  
            else      
                document.getElementById("fieldSpace").innerHTML += "<p><strong>分帳者 " + (++count) + '：<input id="' + commonsplit + (count)+'" type="text" name="' + commonName + 1 + '"></strong></p>';
              
        } 
        function delField() { 
            if (count > countMin) { 
                var fs = document.getElementById("fieldSpace");  
                fs.removeChild(fs.lastChild); 
                count--; 
            } else { 
                alert("無新增欄位可以刪除"); 
            }    
        } 
</script> 
<script>
	function initializeApp(data) {  //初始化LIFF
        var userid = data.context.userId;
        var groupid = data.context.groupId; //取得ID

    }
    // function sleep (time) {
    // return new Promise((resolve) => setTimeout(resolve, time));
    // }

    function pushMsg(splitter1) {

    if (splitter1 == '') {  //資料檢查
        alert('每個項目都必須輸入！');
        return;
    }
    var obj=document.getElementsByName("T1");
    var msg = "分帳設定 ";
    for(i=0;i<obj.length;i++){
        msg = msg+ obj[i].value+' ';
}

        liff.sendMessages([ 
			{ type: 'text',
			  text: msg
            },
        ])
        .then(() => {
            liff.closeWindow();  //關閉視窗
        });

    }

        function deleteMsg() {

    var msg = "設定刪除";

        liff.sendMessages([ 
			{ type: 'text',
			  text: msg
            },
        ])
			.then(() => {
			alert('已清空分帳者設定');
            window.location.reload();
			});

    }

	$(document).ready(function () {
    
    liff.init(function (data) {  //初始化LIFF
        initializeApp(data);
    });
    
    $('#sure').click(function (e) {  //按下確定鈕
        
        pushMsg($('#splitter1').val()); 
    });

        $('#delete').click(function (e) {  //按下確定鈕
        
        deleteMsg(); 
    });
});
    
</script>

</head>
<body style="background-color:#FFEEDD;">
<div align="center">
    <br><img style="float: center" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/118564250_3916210075072856_4538250581291362262_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=pVO1LBE3Ud4AX_-Wo67&_nc_ht=scontent-tpe1-1.xx&oh=e5e38d055d796ff155cec63810e9dec8&oe=5F74AE54" alt="logo" width="110" height="110"/></br><p></p><h3>Welcome to</h3></p><h3><span style="background-color: #914c53; color: #ffffff;">&nbsp Account Mastiff &nbsp</span></h3>
    <br/>
    <p><strong>歡迎使用分帳！</strong></p>
    <p><strong>目前已設定分帳者：</strong></p>
    {% for list in new_list %}
    <p>{{ list }}</p>
    {% endfor %}
    <br/>
    <p><strong>請輸入分帳者姓名：</strong></p>
    <form>
        <p><strong>分帳者 1：<input id="splitter1" type="text" name="T1"></strong></p> 
        <style>.button-style {
            font-size:15px;
            color:black;
            width:90px;
            height:30px;
            border:1.5px black double;
            background-color:#F0F0F0;
            border-radius:5px;
            padding:6px;
            margin-right:0px;
          }</style>
        <span id="fieldSpace"></span>
        <a class="button-style" href="javascript:" onclick="addField()">增加</a> 
        <a class="button-style" href="javascript:" onclick="delField()">刪除</a> 
    </form> 
    <br/>
    <style> .bt{background:#F0F0F0; width: 100px; height:30px; border-radius: 10px;} 
        .bt span{ transition: 0.5s; /* 過渡0.5秒 */ } 
        .bt:hover span{ padding-right: 15px; /* 當滑鼠在按鈕上時span內邊右距離15px */ } 
        .bt span:after{ content: "»"; /* span後面追加內容為»*/ opacity: 0; /* 透明度為0 */ transition: 0.5s; /* 加個0.5秒的過渡 */ } 
        .bt:hover span:after{ opacity: 1; /* 透明度為1，就是顯示 */ } 
    </style> 
    <button id="sure" class="bt">確認送出</button><br/>
    <br/>
    <br/>
    <input type="button" name="ok" id="delete" class="bt" value="重設分帳者"><br>
    <br/>
</div>
</body>
</html>
